.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}

.dialog {
	position: fixed;
	display: block;
	pointer-events: none;
	z-index: 500;
}

@media screen and (min-width: 450px) {

	.dialog {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}

.dialog__overlay {
	position: fixed;
	z-index: 1;
	background: #35363C;
	/*background: rgba(80, 83, 89, 0.7);			/*light overlay*/
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
	z-index: 501;
  	

}



@media screen and (min-width: 450px) {
	.dialog__overlay {
		background: rgba(36, 38, 42, 0.6);		/*dark overlay*/
	}
}


.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
	margin: 0 auto;		/* Fix for lower versions of Safari who do not support flex*/
	width: 100%;
	max-width: 600px;
	/*min-width: 400px;*/
	background: #35363C;
	/*outline: solid 1px #c1cfd9;*/
	color: #A2ACB3;
	/*padding: 4em;*/
	text-align: center;
	position: relative;
	z-index: 502;
	opacity: 0;
	height: 257px;
	display: block;
	box-sizing: border-box;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.dialog__content button {
	color: #A2ACB3;
}

/* Phablet (450px and up) */
@media screen and (min-width: 450px) {

	.dialog__content {
		width: 80%;
		/*height: 260px;*/
		border-radius: 6px;
	}
}

.dialog--open .dialog__content {
	pointer-events: auto;
}


/* Confess Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.confess-modal .top {
	width: 100%;
	height: 40px;
	padding: 5px 6px;
	box-sizing: border-box;
	background: #45464F;
	border-bottom: 1px solid #545556;
}

@media screen and (min-width: 450px) {
	.confess-modal .top {
		/*height: 50px;*/
		padding: 10px 10px;
	}
}

.confess-modal .title {
	font-size: 1.6em;
	margin-top: 5px;
	display: inline-block;
}

@media screen and (min-width: 450px) {
	.confess-modal .title {
		font-size: 1.6em;
		margin-top: 0px;
		position: relative;
		left: 10px;
	}
}

.close-icon-container {
	float: right;
	cursor: pointer;
}

.icon-close {
	font-size: 2em;
}

.confess-modal .main {
	padding: 10px 6px 0px 6px;
	box-sizing: border-box;
}

.confess-modal .main p {
	/*color: #BBC7CD;       Mozda ne treba da bude svetao tekst      */
}

@media screen and (min-width: 450px) {
	.confess-modal .main {
		padding: 2em 3em 1.5em 3em;
		min-height: 162px;
	}
}

.confess-modal textarea {
	resize: none;
	width: 100%;
	background: #35363C;
	font-size: 1.6em;
	color: #BBC7CD;
	height: 124px;
}

.confess-modal .bottom {
	height: 20px;
	padding: 0em 2em;
}

.char-count {
	float: right;
	vertical-align: middle;
	font-size: 1.2em;
	color: #757E84;
}

@media screen and (min-width: 450px) {
	.confess-modal .bottom {
		padding: 0em 3em 1.5em 3em;
		height: 40px;
		line-height: 40px;
	}

	.char-count {
		margin-right: 30px;
	}
}




.confess-modal .top button {
	height: 30px;
	width: 60px;
	padding: 0;
	line-height: 30px;
	font-size: 1.3em;
}

.confess-modal button {
	border-color: #A2ACB3;
	color: #A2ACB3;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

@media screen and (min-width: 450px) {
	.confess-modal button {
		padding: 0 15px;
	}
}

.confess-modal button:hover {
	border-color: #D5E8F1;
	color: #D5E8F1;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.confess-modal .admit {
	float: right;
}

.confess-modal .cancel {
	float: left;
}

.confess-modal .ok {
	min-width: 100px;
}

.confess-modal .rules {
	float: left;
	font-size: 13px;	
}

.confess-modal .rules a {
	color: #A2ACB3;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.confess-modal .rules a:hover {
	color: #D5E8F1;
	cursor: pointer;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.confess-modal .rules .icon {
	font-size: 20px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}




.confess-modal .after {
	display: none;
}

.confess-submit-loading {

}

.confess-modal span.icon-check2,
.confess-modal span.icon-cross2 {
	font-size: 96px;
	color: #FFFFFF;	
}

.confess-modal h2, 
.confess-modal h3 span {
	color: #FFFFFF;
}

.confess-modal h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2em;
}

.confess-modal h3 {
	margin-bottom: 2.6em;
	font-size: 1.6em;
}

.confess-modal p {
	font-size: 1.4em;
	padding: 0;
	margin-bottom: 0.5em;
}

.confession-link {
	display: inline-block;
	text-decoration: none;
	font-size: 1.4em;
	margin: 0.5em 0 1.0em 0;
	color: #6EB7FF;
	letter-spacing: 0.05em;
}

.confession-link:hover {
	color: #A3D2FF;
}

.confess-modal .invalidConfessionNote {
	display: none;
	margin-top: 2.9em;
	font-size: 1.8em;
	color: rgb(255, 125, 125);
}