@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xwxon9');
	src:url('../fonts/icomoon.eot?#iefix-xwxon9') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-xwxon9') format('truetype'),
		url('../fonts/icomoon.woff?-xwxon9') format('woff'),
		url('../fonts/icomoon.svg?-xwxon9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark2:before {
	content: "\e604";
}
.icon-cancel:before {
	content: "\e608";
}
.icon-check2:before {
	content: "\e116";
}
.icon-cross2:before {
	content: "\e117";
}
.icon-done:before {
	content: "\e60b";
}
.icon-not-interested:before {
	content: "\e615";
}
.icon-clear:before {
	content: "\e616";
}
.icon-check3:before {
	content: "\e617";
}
.icon-close3:before {
	content: "\e618";
}
.icon-close:before {
	content: "\e603";
}
.icon-trending-up:before {
	content: "\e606";
}
.icon-access-alarm:before {
	content: "\e607";
}
.icon-access-time:before {
	content: "\e609";
}
.icon-local-offer:before {
	content: "\e60a";
}
.icon-help:before {
	content: "\e61b";
}
.icon-add-user:before {
	content: "\e602";
}
.icon-dots-three-horizontal:before {
	content: "\e619";
}
.icon-facebook:before {
	content: "\e61c";
}
.icon-twitter:before {
	content: "\e61d";
}
.icon-price-tag:before {
	content: "\e600";
}
.icon-open-book:before {
	content: "\e60c";
}
.icon-area-graph:before {
	content: "\e60d";
}
.icon-attachment:before {
	content: "\e60e";
}
.icon-feather:before {
	content: "\e60f";
}
.icon-flag:before {
	content: "\e610";
}
.icon-line-graph:before {
	content: "\e611";
}
.icon-stopwatch:before {
	content: "\e612";
}
.icon-office:before {
	content: "\e61e";
}
.icon-wrench:before {
	content: "\e61a";
}
.icon-instagram:before {
	content: "\e605";
}
.icon-hash:before {
	content: "\e601";
}
.icon-quill:before {
	content: "\e907";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-alarm2:before {
	content: "\e950";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-envelope-o:before {
	content: "\e613";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-facebook2:before {
	content: "\f09a";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-comment-o:before {
	content: "\f0e5";
}
