/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/*@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/codropsicons/codropsicons.woff') format('woff'),
	url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
	url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
	src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
	url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
	url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
	url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Header
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Screen sizes and devices
––––––––––––––––––––––––––––––––––––––––––––––––––
Extra small (phones, less than 768px): Samsung Galaxy, LG Nexus, HTC One, iPhone
Small devices (tablets, 768px and up): Ipad
Medium devices (desktops, 992px and up):
Large devices (large desktops, 1200px and up): 
*/


/* SCREEN SIZE COLORING - DEVELOPMENT ONLY
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Mobile phone (less than 450px) */
/* No media query since this is the default */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.main {
	position: relative;
	width: 100%;
}



/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (less than 500px) */
body {
	background: rgb(0, 29, 61) url(../img/background/bg480.jpg) no-repeat fixed center;
}

/* (500px - 1024px) */
@media (min-width: 500px) {
	body {
		background: rgb(0, 29, 61) url(../img/background/bg1024.jpg) no-repeat fixed center;
	}
}

/* (1025px - 1280px) */
@media (min-width: 1025px) {
	body {
		background: rgb(0, 29, 61) url(../img/background/bg1280.jpg) no-repeat fixed center;
	}
}

/* (1281px - 1440px) */
@media (min-width: 1281px) {
	body {
		background: rgb(0, 29, 61) url(../img/background/bg1440.jpg) no-repeat fixed center;
	}
}

/* (1441px - 1680px) */
@media (min-width: 1441px) {
	body {
		background: rgb(0, 29, 61) url(../img/background/bg1680.jpg) no-repeat fixed center;
	}
}

/* (1681px and up) */
@media (min-width: 1681px) {
	body {
		background: rgb(0, 29, 61) url(../img/background/bg1920.jpg) no-repeat fixed center;
	}
}


/* Responsive key widths
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Phablet (450px and up) */
@media (min-width: 450px) {
}


/* Tablet (768px and up) */
@media (min-width: 768px) {
}


/* Desktop (1000px and up) */
@media (min-width: 1000px) {
}


/* Desktop HD (1200px and up) */
@media (min-width: 1200px) {
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.container {
	position: relative;
	top: 50px;
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	/*padding: 0 2.5%;*/
	/*background-color: white;*/
	box-sizing: border-box; }
	.column,
	.columns {
	width: 100%;
	float: left;
	box-sizing: border-box; }


	@media (min-width: 750px) {
		.container {
			top: 0px;
			padding-top: 15px;
			padding-bottom: 40px;
		}
	}



/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */


header {
	width: 100%;
}

.header_big {
	height: 50px;
	/*background: #222222;*/
	background: rgba(34, 34, 34, 1.0);
	z-index: 80;
}

.header_small {
	height: 50px;
	/*background: #333333;*/
	background: rgba(51, 51, 51, 1.0);
	z-index: 90;
}

/* Tablet (768px and up) */
@media (min-width: 768px) {

	.header_big {
		height: 100px;
		/*background: #222222;*/
		background: rgba(34, 34, 34, 0.6);
	}

	.header_small {
		height: 50px;
		/*background: #333333;*/
		background: rgba(51, 51, 51, 0.6);
		-webkit-transition: background 1.5s;
		transition: background 1.5s;
	}
}

.header_wrap {
	/*background-color: Plum;*/
	width: 95%;
	max-width: 1000px;
	height: inherit;
	margin: 0 auto;
}

.menu,
.nav,
.logo {
	float: left;
	height: inherit;
}

.tools {
	float: right;
	height: inherit;
}

.menu {
	/*background: white;*/
	width: 50px;
}

.nav {
	/*background-color: Teal;*/
	width: 100%;
	position: relative;
}

.logo {
	/*background-color: Yellow;*/
	width: 150px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);							/*Chrome and Firefox */
	-webkit-transform: translate(-50%, 0%);			/*Safari*/

}

.tools {
	/*background-color: YellowGreen;*/
	width: 50px;
}


/* Tablet (768px and up) */
@media screen and (min-width: 768px) {

	.nav {
		width: 40%;
	}

	.logo {
		width: 20%;
		position: relative;
		left: 0%;
		transform: none;
		-webkit-transform: none;
	/*		background-color: Coral;
		height: 50px;*/	
	}

	.tools {
		width: 40%;
	}

}



/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.logo_wrap_big {
	height: 80px;
	padding: 10px 0;
}

.logo_wrap_small {
	position: relative;
	height: 45px;
	padding: 2.5px 0;
}

.logo-mini {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);					/*Chrome and Firefox */
	-webkit-transform: translate(-50%, 0%);			/*Safari*/
	display: inline;
}

@media screen and (min-width: 768px) {
	.logo-mini {
	display: none;
	}

}



/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.nav {
	position: relative;
}

.nav ul {
	position: relative;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	position: relative;
	display: block;
	float: left;
	width: 33.33%;
	line-height: 50px;
	box-sizing: border-box;
	/*border-left: solid 1px #343737;*/
}

.nav a {
	display: block;
	text-decoration: none;
	color: #dce5ec;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	border-bottom: 0px solid #ffffff;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.nav a:hover {
	color: white;
	box-sizing: border-box;
	border-bottom: 3px solid #ffffff;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.nav a.active, .page_navigation a.active {
	box-sizing: border-box;
	border-bottom: 3px solid #ffffff;
}

.nav .label {
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}

.nav span.label-text {
	font-weight: 400;
	font-size: 1.7em;
	vertical-align: middle;
}


/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav span.icon {
	font-size: 2em;
	margin-right: 0.5em;
	vertical-align: middle;
}

.nav span.icon-hash {
	font-size: 1.6em;
}


/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu .menu-button {
	float: left;
	width: 40px;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	border-color: #dce5ec;
	border: none;
	background: url(../img/menu-icon.png) no-repeat center center;
	background-size: 28px 28px;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.menu .menu-button:hover {
	border-color: white;
	background: url(../img/menu-icon-hover.png) no-repeat center center;
	background-size: 28px 28px;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}


/* Tools
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* This is used to preload background image*/
.nav {
	background: url(../img/quill-icon-hover.png) no-repeat;
	background-position: -9999px -9999px;
}

.tools .confess-button {
	float: right;
	width: 40px;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	border: none;
	background: url(../img/quill-icon.png) no-repeat center center;
	background-size: 32px 32px;
	transition: all .15s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.tools .confess-button:active {
	border: none;
	background: url(../img/quill-icon-hover.png) no-repeat center center;
	background-size: 32px 32px;
	transition: all .15s ease-in-out;
}

.tools .confess-button:focus {
	color: #dce5ec;
	border-color: #dce5ec;
}

.be-admin-button {
	float: right;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	margin-right: 20px;
}

.be-admin-button .icon-add-user {
	margin-left: 8px;
}


@media screen and (min-width: 768px) {

	.tools .confess-button {
		width: 135px;
		text-align: left;
		background: url(../img/quill-icon.png) no-repeat;
		background-position: 90px 3px;
		background-size: 32px 32px;
		border: 1px solid #778188;
	}

	@keyframes animatedBackground {
		0% { background-position: 90px 3px; }
		100% { background-position: 96px 3px; }
	}
	@-webkit-keyframes animatedBackground {
		0% { background-position: 90px 3px; }
		100% { background-position: 96px 3px; }
	}

	.tools .confess-button:hover {
		color: white;
		border: 1px solid white;
		background: url(../img/quill-icon-hover.png) no-repeat;
		background-position: 90px 3px;
		background-size: 32px 32px;
		animation: animatedBackground 0.7s linear infinite;
		-moz-animation: animatedBackground 0.7s linear infinite;
		-webkit-animation: animatedBackground 0.7s linear infinite;
		-ms-animation: animatedBackground 0.7s linear infinite;
		-o-animation: animatedBackground 0.7s linear infinite;
	}

}


/* CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.left {
	/*background-color: red;*/
	/*background-color: rgba(51, 51, 51, 0.8);*/
	/*height: 2000px;*/
	width: 100%;
}

.right {
	min-height: 415px;
	/*background-color: rgba(51, 51, 51, 0.4);*/
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	background: rgba(50, 50, 50, 0.1);
	background-image: linear-gradient( to left, rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.5) 100%);
	display: none;
}


/* Tablet (768px and up) */
@media (min-width: 768px) {

	.left {
	float: left;
	width: 64%;
	max-width: 650px;
	}

	.right {
	float: right;
	margin-left: 2%;
	width: 34%;
	max-width: 350px;
	/*background-color: yellow;*/
	display: block;
	}
}

#content {
	background: rgba(50, 50, 50, 0.5);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
	display: inline-block;
	width: 100%;
}

@media (min-width: 750px) {
	#content {
		background: rgba(50, 50, 50, 0.1);
		background-image: linear-gradient( to right, rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.5) 50%);
	}
}

.confession_wrap, .pending_confession_wrap, .single_confession_wrap, .text_wrap, .next_page, .prev_page {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.confession_wrap, .pending_confession_wrap, .single_confession_wrap, .text_wrap {
	background: rgba(50, 50, 50, 0.4);
	padding: 8px 12px 8px 12px;
	margin: 10px;
	border-bottom: 1px solid rgba(65, 65, 65, 0.4);
}

.confession_wrap:hover, .pending_confession_wrap {
	background: rgba(60, 60, 60, 0.4);
}

.confession {
	margin-bottom: 20px;
}

.confession, .moderate_confession, .statusNotification {
	color: #FFFFCC;
	font-size: 1.5em;
	-webkit-font-smoothing: antialiased;
	line-height: 1.6em;
	letter-spacing: 0.01em;
}

.statusNotification {
	margin: 20px 10px;
}

.statusNotification h2 {
	margin: 0px 0px 20px 0px;
	color: #FFFFCC;
}

.statusNotification p {
	font-size: 14px;
}

.statusNotification .id {
	color: white;
}

.statusNotification ul {
	margin: 0;
}

.statusNotification ul {
	margin-top: 15px;
}

.statusNotification li {
	margin: 5px 0px;
}

.statusNotification table {
	width: 100%;
}

.statusNotification td {
	width: 50%;
}

.statusNotification th {
	font-weight: normal;
}

.statusNotification .total_votes td {
	color: rgb(193, 207, 217);
}

.pending_confession_preivew {
	background: rgba(84, 84, 84, 0.2);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	padding: 5px 12px;
	margin-bottom: 40px;
}

.pending_confession_preivew p {
	margin: 5px 0px 10px 0px;
	font-size: 15px;
}





.confession_header {
	/*margin-bottom: 6px;*/
}

.confession_id, .confession_time {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
	text-decoration: none;
	letter-spacing: 0.05em;
}

.confession_id {
	font-size: 12px;
}

.confession_id:hover, .confession_time:hover {
	color: rgba(255, 255, 255, 0.9);
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
}

.confession_time {
	float: right;
}

.confession_footer {
	padding: 0 1%;
}

.confession_footer a {
	text-decoration: none;
}

.confession_footer_left {
	float: left;
	width: 40%;
}

.confession_footer_middle {
	float: left;
	width: 20%;
}

.confession_footer_middle .action, .confession_footer_middle .action_disabled {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}

.confession_footer_right {
	float: right;
	width: 40%;
}

.action, .action_disabled {
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	opacity: 0.4;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.action_disabled {
	cursor: default;
}

.confession_footer_left .action {
	float: left;
	margin-right: 30px;
	min-width: 35px;
}

.confession_footer_right .action {
	float: right;
	margin-left: 30px;
}

.action:hover {
	opacity: 0.9;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	text-shadow: 0 0 0.2em rgba(0, 0, 0, 1);
}

.confession_footer .icon {
	font-size: 16px;
	padding-right: 8px;
	position: relative;
}

.confession_footer .label {
	font-size: 12px;
	letter-spacing: 0.05em;
}

.approve_action:hover, .approve_action_active {
	opacity: 0.9;
	text-shadow: 0 0 1.4em rgba(22, 105, 255, 1);
}

.condemn_action:hover, .condemn_action_active {
	opacity: 0.9;
	text-shadow: 0 0 1.4em rgba(255, 35, 35, 1);
}

.comments_action:hover, .comments_action_active, .comments_action_disabled:hover {
	opacity: 0.9;
	text-shadow: 0 0 1.4em rgba(255, 255, 255, 0.7);
}

.facebook_action:hover, .twitter_action:hover {
	opacity: 0.9;
	text-shadow: 0 0 1em rgba(255, 255, 255, 0.7);
}

.confession_footer .icon-thumbs-o-up {
	top: 1px;
}

.confession_footer .icon-thumbs-o-down {
	top: 3px;
}

.confession_footer .icon-comment-o {
	top: 1px;
}

.confession_footer .icon-twitter {
	top: 2px;
}

.confession_footer .icon-facebook2 {
	top: 2px;
}




.comments_container {
	border-top: 1px solid rgba(255, 255, 255, 0.0);
	margin-top: 10px;
	padding-top: 10px;
	display: none;
	/*cursor: default;*/
	-webkit-transition: border-color .4s linear;
	transition: border-color .4s linear;
}

.comment_wrap {
	background: rgba(84, 84, 84, 0.2);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	margin: 5px;
	padding: 10px 10px 0px 10px;
}

.comment {
	font-size: 13px;
	color: #FFFFCC;
}

.comment_footer {
	margin-top: 10px;
	border-top: 1px dotted rgba(255, 255, 255, 0.12);
	padding-top: 8px;
	font-size: 12px;
	padding-bottom: 8px;
}

.comment_controls {
	float: left;
	padding: 0px 5px;
}

.comment_action {
	color: rgba(242, 242, 242, 0.4);
	display: inline-block;
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
	margin-right: 15px;
}

.comment_action:hover, .comment_action_active {
	color: rgba(242, 242, 242, 1);
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
	cursor: pointer;
}

.comment_action .label {
	margin-left: 4px;
}

.comment_info {
	float: right;
	color: #898989;
}

.separator {
	margin: 0 10px;
}

.comments_container h3 {
	margin: 0;
	color: #f2f2f2;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.comment span {
	display: inline-block;
}

.comment .author {
	display: inline-block;
	/*float*/
}

.comment p {
	letter-spacing: 0.02em;
	line-height: 20px;
}

.comment p, .view_more_comments p {
	margin: 0px;
}

.comments_container textarea, .comments_container input[type="text"] {
	font-size: 13px;
	resize: none;
	color: rgba(255, 255, 255, 0.6);
	border-color: rgba(255, 255, 255, 0.3);
	transition: all .5s;
}

.comments_container textarea {
	width: 100%;
}

.comments_container input[type="text"] {
	width: 30%;
}

.comments_container textarea:focus, .comments_container input[type="text"]:focus {
	border-color: rgba(255, 255, 255, 0.5);
	transition: border-color .5s;
}

.top_comment_container {
	margin: 5px 5px 10px;
}

.bottom_comment_container {
	margin: 12px 5px 0px;
}

.write_comment_container_expand {
	margin-top: 6px;
	display: none;
}

.comments_container textarea::-webkit-input-placeholder, .comments_container input[type="text"]::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: color .5s;
}

.comments_container textarea:focus::-webkit-input-placeholder, .comments_container input[type="text"]:focus::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.15);
	transition: color .5s;
}

.write_comment_container button {
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	padding: 0px 20px;
	float: right;
	color: rgba(193, 207, 217, 0.8);
	border-color: rgba(193, 207, 217, 0.8);
}

.write_comment_container button:hover {
	color: rgba(255, 255, 255, 0.9);
	border-color: rgba(255, 255, 255, 0.9);
}

.comments_container_footer {
	margin: 12px auto 0px;
	width: 54%;
}

.comments_container_footer_action {
	color: rgba(242, 242, 242, 0.4);
	font-size: 12px;
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
}

.comments_container_footer_action:hover {
	cursor: pointer;
	color: rgba(242, 242, 242, 1);
	-webkit-transition: color .2s linear;
	transition: color .2s linear;
}

.comments_container_footer_action.write_comment {
	float: left;
}

.comments_container_footer_action.back_to_confession {
	float: right;
}

.comments_container_footer_action .icon {
	margin-left: 6px;
}

.comments_container_footer_action .icon-chevron-up, .comments_container_footer_action .icon-pencil {
	position: relative;
	top: 1px;
}

.view_more_comments, .tips {
	background: rgba(84, 84, 84, 0.2);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	border: 1px dashed rgba(255, 255, 255, 0.25);
	margin: 10px 5px 5px 5px;
	padding: 5px 0px;
	color: rgba(242, 242, 242, 0.7);
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.view_more_comments p, .tips p {
	text-align: center;
	font-size: 12px;
}

.view_more_comments:hover, .tips:hover {
	color: rgba(242, 242, 242, 1);
	border: 1px dashed rgba(255, 255, 255, 0.5);
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	cursor: pointer;
}

.no_comments_message {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}

.submit_comment_message {
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #f2f2f2;
	text-align: center;
}

/* Be Admin
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pending_confession_wrap p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.pending_confession_footer {
	margin: 20px 0px 10px 0px;
}

button.yes, button.no {
	width: 18%;
}

button.yes {
	margin-left:28%;
	float:left;
}

button.no {
	margin-right:28%;
	float:right;
}

button.yes:hover {
	color: #73CC65;
	border: 1px solid #73CC65;
}

button.no:hover {
	color: #E87373;
	border-color: #E87373;
}


.tips {
	margin: 30px 10px;
}

.tips p {
	margin: 0;
	font-size: 15px;
	letter-spacing: 0.02em;
}

.tips a {
	color: inherit;
}



/* Pagination
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page_navigation {
	margin: 20px 10px;
}

.next_page, .prev_page {
	width: 49.1%;
	height: 70px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	color: #dce5ec;
	background: rgba(50, 50, 50, 0.4);
	transition: all 0.2s ease-in-out;
}

.next_page:hover, .prev_page:hover {
	color: white;
	background: rgba(60, 60, 60, 0.4);
	transition: all 0.2s ease-in-out;
}

.next_page {
	float: right;
}

.prev_page {
	float: left;
}

.single_button {
	float: none;
	margin: 0 auto;
}

.page_navigation.nav {
	width: 100%;
}

.page_navigation [class*="icon-chevron-"] {
	vertical-align: middle;
	font-size: 30px;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	font-size: 10px; /* currently ems cause chrome bug misinterpreting rems on body element */
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	/*margin-bottom: 1em;*/
	padding: 0;
	font-weight: 400; }

h2, h3, h4, h5, h6 {
	margin-top: 0;
}

h1 {
	color: white;
	font-size: 18px;
	letter-spacing: 0.03em;
}

h1.moderate_title {
	margin: 30px 20px;
}

h2 {
	color: #f2f2f2;
	margin: 30px 20px;
	font-size: 18px;
	letter-spacing: 0.02em;
}

h3 {
	color: white;
	font-size: 16px;
	letter-spacing: 0.02em;
	margin-top: 26px;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 40px;
	padding: 0 15px;
	color: #dce5ec;
	text-align: center;
	font-size: 1.7em;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: .05rem;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid #778188;
	cursor: pointer;
	box-sizing: border-box;
}

button {
	transition: all .2s ease-in-out;
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
color: white;
border-color: white;
outline: 0;
transition: all .2s ease-in-out; }

button:focus {
	outline: 0;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	/*height: 38px;*/
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	/*background-color: #fff;*/
	border: 1px solid #A2ACB3;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	background: transparent; }
	/* Removes awkward default styles on some inputs for iOS */
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; }
	textarea {
		/*min-height: 65px;*/
		padding-top: 6px;
		padding-bottom: 6px; }
		input[type="email"]:focus,
		input[type="number"]:focus,
		input[type="search"]:focus,
		input[type="text"]:focus,
		input[type="tel"]:focus,
		input[type="url"]:focus,
		input[type="password"]:focus,
		textarea:focus,
		select:focus {
		border: 1px solid #BBC7CD;
		outline: 0; }
		label,
		legend {
			display: block;
			margin-bottom: .5rem;
			font-weight: 600; }
			fieldset {
			padding: 0;
			border-width: 0; }
			input[type="checkbox"],
			input[type="radio"] {
				display: inline; }
				label > .label-body {
				display: inline-block;
				margin-left: .5rem;
				font-weight: normal; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
	padding: 12px 15px;
	text-align: center;
	border-bottom: 1px solid rgba(225, 225, 225, 0.2); }
	th:first-child,
	td:first-child {
	padding-left: 0; }
	th:last-child,
	td:last-child {
		padding-right: 0; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100%;
	box-sizing: border-box; }
	.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box; }
	.u-pull-right {
		float: right; }
		.u-pull-left {
		float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	border-width: 0;
	border-top:	1px solid rgba(225, 225, 225, 0.6);
}

/* Responsive image */
img {
	max-height: 100%;
	max-width: 100%;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
header,
.container:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



/* Text pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text_wrap {
	padding: 8px 20px;
}

.text_wrap p, .text_wrap ul, .text_wrap ol, .contact_page span {
	color: #FFFFCC;
	font-size: 1.4em;
	line-height: 1.6em;
	letter-spacing: 0.03em;
}

.text_wrap li {
	margin: 10px 0;
}


/* Contact Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact_page {
	float: left;
}

.contact_page textarea, input {
	resize: none;
	font-size: 1.4em;
	letter-spacing: 0.02em;
	color: #BBC7CD;
}

.contact_page textarea {
	width: 100%;
}

.contact_page span {
	margin: 10px 20px
}

.contact_form {
	margin-top: 15px;
}

.contact_form_row {
	margin: 8px 0;
	float: left;
	width: 100%;
}

.contact_form_col2 {
	width: 50%;
	float: left;
}

/*.contact_form_col2:nth-of-type(2) {
	float: right;
}*/

.contact_form input.name_field, .contact_form input.email_field {
	width: 280px;
}

.contact_form input.name_field {
	float: left;
}

.contact_form input.email_field {
	float: right;
}

.contact_form .send_button {
	float: right;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sticky-mobile {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 110;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 110;
	background: rgba(51, 51, 51, 0.97);
	border-bottom: 1px solid #43454C;
	box-shadow: 0 0 20px rgba(9, 9, 9, 1);
	-webkit-transition: background 1.5s, border-bottom 1.5s, box-shadow 1.5s;
	transition: background 1.5s, border-bottom 1.5s, box-shadow 1.5s;
}

.sticky2 {
	position: relative;
	width: 100%;
	left: 0;
	top: 50px;
	z-index: 100;
}

.blur {
	-webkit-filter: blur(1px);
	filter: blur(1px);
/*	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
*/}

/* Extra small devices (phones, less than 450px) */
.mobile-screen {
	display: initial;
}

.phablet-screen {
	display: none;
}

.mobile-and-phablet-screen {
	display: initial;
}

.tablet-screen {
	display: none;
}

.desktop-screen {
	display: none;
}


/* Phablet (450px and up) */
@media (min-width: 450px) {

	.mobile-screen {
		display: none; /* temporary */
	}

	.phablet-screen {
		display: initial;
	}
}

/* Tablet (768px and up) */
@media (min-width: 768px) {

	.mobile-screen {
		display: none;
	}

	.mobile-and-phablet-screen {
		display: none;
	}

	.tablet-screen {
		display: initial;
	}
}

/* Desktop (1000px and up) */
@media (min-width: 1000px) {
	.desktop-screen {
		display: initial;
	}
}


.signal, .signal_new_comment {
	border: 2px solid #fff;
	border-radius: 15px;
	height: 15px;
	opacity: 0;
	width: 15px;
 
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count:infinite;
}

.signal_new_comment {
	float: right;
	margin-right: 15px;
	margin-top: 6px;
}

@-webkit-keyframes pulsate {
    0% {
      transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      transform:scale(1.2);
      opacity:0;
    }
}


.social_media_wrap {
	background: rgba(50, 50, 50, 0.4);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	margin: 10px auto;
	height: 50px;
	width: 80%;
}

.social_container {
	margin: 20px 10px;
}

.social_wrap, .footer_social_wrap {
	width: 33.3%;
	float: left;
	text-align: center;
}

.social_wrap a {
	display: block;
	width: 60%;
	margin: 0 auto;
	color: #dce5ec;
	padding: 10px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
	transition: all 0.2s ease-in-out;
}

.social_wrap a:hover {
	color: #ffffff;
	background: rgba(255, 255, 255, 0.06);
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 1);
	transition: all 0.2s ease-in-out;
}

.social_wrap .icon_container span {
	line-height: 40px;
	vertical-align: middle;
}

.social_wrap p {
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	margin: 0;
}

.social_wrap .icon_container {
	text-align: center;
}

.social_wrap .icon {
	font-size: 28px;
}

.social_wrap .icon-instagram {
	font-size: 24px;
}

.social_wrap .counter_container {
	display: inline-block;
	width: 73%;
}

.social_wrap .label {
	text-align: center;
	font-size: 11px;
	letter-spacing: 0.08em;
}




.side-menu {
	margin: 40px 20px;
}

.side-menu-item {
	margin: 16px 0;
	padding: 8px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 14px;
	letter-spacing: .03em;
	color: #dce5ec;
	transition: all 0.2s ease-in-out;
}

.side-menu-item:hover {
	background: rgba(255, 255, 255, 0.06);
	-webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 1);
	color: #ffffff;
	transition: all 0.2s ease-in-out;
}

.side-menu-item .icon {
	margin-right: 10px;
	font-size: 15px;
	position: relative;
	top: 1px;
}




footer {
	position: relative;
}

.footer_big {
	height: 80px;
	background: rgba(34, 34, 34, 0.6);
	padding: 20px 0px;
}

.footer_column {
	float: left;
	width: 33.3%;
	height: 80px;
	line-height: 80px;
	box-sizing: border-box;
}

.footer_social_wrap a {

}

.footer_social_wrap .icon {
	font-size: 34px;
	color: rgba(255, 255, 255, 0.75);
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.footer_social_wrap .icon-instagram {
	font-size: 30px;
}

.footer_social_wrap .icon:hover {
	color: rgba(255, 255, 255, 1);
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.footer_small {
	height: 40px;
	line-height: 40px;
	background: rgba(51, 51, 51, 0.6);	
}

.footer_wrap {
	width: 95%;
	max-width: 1000px;
	height: inherit;
	margin: 0 auto;
}

.footer_left {
	float: left;
	/*background: red;*/
	width: 30%;
	height: 80px;
	box-sizing: border-box;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 2px;
	text-align: center;
}

.footer_logo {
	height: 65px;
	opacity: 0.9;
}

.footer_right {
	float: right;
	/*background: yellow;*/
	width: 70%;
	height: 80px;
}

footer span {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
	vertical-align: middle;

}

.copyright {
	float: left;
}

.copyright span {
	margin-left: 5px;
}

.legal_links {
	float: right;
}

.legal_links span {
	margin-right: 5px;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}

.legal_links a span:hover {
	color: white;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
}