<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">
	<title>PublicConfess</title>
	<link rel="stylesheet" href="/css/site.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.min.js"></script>
	<script src="/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	<script src="/js/mustache.min.js"></script>
</head>
<body>
	<div class="main">
		
		<header>

			<!-- Tablets and up -->
			<div class="tablet-screen">
				<div class="header_big">
					<div class="header_wrap">
						<div class="logo_wrap_big">
							<a href="/"><img src="/img/logo.png" /></a>
						</div>
					</div>
				</div>
				<div class="header_small">
					<div class="header_wrap">
						<div class="nav">
							<ul>
								<li>
									<a href="/new"><div class="label"><span class="desktop-screen icon icon-stopwatch"></span><span class="label-text">New</span></div></a>
								</li>
								<li>
									<a href="/popular" class="active"><div class="label"><span class="desktop-screen icon icon-trending-up"></span><span class="label-text">Popular</span></div></a>
								</li>
<!-- 								<li><a href=""><div class="label"><span class="desktop-screen icon icon-hash"></span><span class="label-text">Discover</span></div></a></li>
 -->							</ul>
						</div>
						<div class="logo">
							<div class="logo_wrap_small">
								<img class="logo-mini" src="/img/logo_mini.png" />
							</div>
						</div>
						<div class="tools">
							<button class="button confess-button" data-dialog="somedialog">Confess</button>
							<a href="/moderate"><button class="button be-admin-button">Be Admin<span class="icon-add-user"></span></button></a>
						</div>
					</div>
				</div>
			</div>

			<!-- Mobile -->
			<div class="mobile-and-phablet-screen">
				<div class="header_big sticky-mobile">
					<div class="header_wrap">
						<div class="menu">
							<a class="button menu-button" href="#"></a>
						</div>
						<div class="logo">
							<div class="logo_wrap_small">
								<img class="logo-mini" src="/img/logo.png" />
							</div>
						</div>
						<div class="tools">
							<button class="button confess-button" data-dialog="somedialog"></button>
						</div>
					</div>
				</div>
				<div class="header_small sticky2">
					<div class="nav">
						<ul>
							<li>
								<a href="" ><div class="label"><span class="desktop-screen icon icon-stopwatch"></span><span class="label-text">New</span></div></a>
							</li>
							<li>
								<a href="" class="active"><div class="label"><span class="desktop-screen icon icon-trending-up"></span><span class="label-text">Popular</span></div></a>
							</li>
<!-- 							<li><a href=""><div class="label"><span class="desktop-screen icon icon-hash"></span><span class="label-text">Discover</span></div></a></li>
 -->						</ul>
					</div>
				</div>
			</div>
		</header>


		<div class="container">
			<div class="row">
				<div class="left">
					<div id="content">
						<div id="confession-{{ confession._id }}" class="single_confession_wrap">
							<div class="statusNotification">
								{{{ status }}}
							</div>
						</div>
					
					</div>
				</div>
				<div class="right">
					<div class="social_container row">
						<div class="social_wrap">
							<a class="sidebar_facebook_link" href="http://www.facebook.com/publiconfessdotcom" target="_blank">
								<div class="icon_container">
									<span class="icon icon-facebook2"></span>
								</div>
								<div class="label">
									<span>Facebook</span>
								</div>
							</a>
						</div>
						<div class="social_wrap">
							<a class="sidebar_twitter_link" href="https://twitter.com/public_confess" target="_blank">
								<div class="icon_container">
									<span class="icon icon-twitter"></span>
								</div>
								<div class="label">
									<span>Twitter</span>
								</div>
							</a>
						</div>
						<div class="social_wrap">
							<a class="sidebar_instagram_link" href="https://instagram.com/publicconfess" target="_blank">
								<div class="icon_container">
									<span class="icon icon-instagram"></span>
								</div>
								<div class="label">
									<span>Instagram</span>
								</div>
							</a>
						</div>
					</div>
					<div class="side-menu">
						<!-- <a href="/rules"><div class="side-menu-item"><span class="icon icon-clipboard"></span><span>Rules and Regulations</span></div></a> -->
						<!-- <a href="/faq"><div class="side-menu-item"><span class="icon icon-help"></span><span>Frequently Asked Questions</span></div></a> -->
						<a href="/contact"><div class="side-menu-item"><span class="icon icon-envelope-o"></span><span>Contact Us</span></div></a>
						<a href="/feedback"><div class="side-menu-item"><span class="icon icon-comment-o"></span><span>Give Us Feedback</span></div></a>
						<a href="/report-content"><div class="side-menu-item"><span class="icon icon-flag"></span><span>Report Something</span></div></a>
						<a href="/report-bug"><div class="side-menu-item"><span class="icon icon-wrench"></span><span>Report a Broken Feature</span></div></a>
						<a href="/about"><div class="side-menu-item"><span class="icon icon-office"></span><span>About Us</span></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Confess dialog -->
	<div id="somedialog" class="dialog confess-modal">
		<div class="dialog__overlay"></div>
		<div class="dialog__content">
			<div class="before">
				<div class="phablet-screen">
					<div class="top">
						<span class="title">Compose new Confession</span>
						<div class="close-icon-container">
							<span class="icon-close" data-dialog-close1></span>
						</div>
					</div>
				</div>
				<div class="mobile-screen">
					<div class="top">
						<button class="cancel" data-dialog-close2>Cancel</button>
						<span class="title">Write Confession</span>
						<button class="admit">Admit</button>
					</div>
				</div>
				<div class="main">
					<form>
						<textarea rows="5" maxlength="1000" id="confession_text"></textarea>
					</form>
				</div>
				<div class="phablet-screen">
					<div class="bottom">
						<button class="admit">Admit</button>
						<span class="char-count">1000</span>
						<div class="rules">
							<a href="/confession-approval" target="_blank">
								<span class="icon icon-clipboard"></span>
								<span>Rules for Approval</span>
							</a>
						</div>
						<!-- <button class="button confess-button" data-dialog="somedialog">Confess</button> -->
						<!-- <button class="novo-dugme">Admit it</button> -->
					</div>
				</div>
				<div class="mobile-screen">
					<div class="bottom">
						<!-- <button class="action admit" data-dialog-close>Priznaj</button> -->
						<span class="char-count">1000</span>
						<!-- <button class="button confess-button" data-dialog="somedialog">Confess</button> -->
						<!-- <button class="novo-dugme">Admit it</button> -->
					</div>
				</div>
			</div>
			<div class="after">
				<div class="phablet-screen">
					<div class="top">
						<span class="title"></span>
						<div class="close-icon-container" data-dialog-close3>
							<span class="icon-close"></span>
						</div>
					</div>
				</div>
				<div class="mobile-screen">
					<div class="top">
						<!-- TO IMPLEMENT -->
						<button class="cancel" data-dialog-close2>Cancel</button>
						<span class="title">Write Confession</span>
						<button class="admit">Admit</button>
					</div>
				</div>
				<div id="afterContent" class="main">
				</div>
				<div class="phablet-screen">
					<div class="bottom">
						<!-- <button>What's next?</button> -->
						<button class="ok" data-dialog-close4>OK</button>
					</div>
				</div>
				<div class="mobile-screen">
					<div class="bottom">
						<!-- TO IMPLEMENT -->
						<!-- <button class="action admit" data-dialog-close>Priznaj</button> -->
						<span class="char-count">1000</span>
						<!-- <button class="button confess-button" data-dialog="somedialog">Confess</button> -->
						<!-- <button class="novo-dugme">Admit it</button> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-63842941-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script src="/js/classie.js"></script>
	<script src="/js/dialogFx.js"></script>
	<script>
	(function() {

		dlgtrigger_mobile = document.querySelector( '.mobile-and-phablet-screen .confess-button' );
		dlgtrigger_tablet = document.querySelector( '.tablet-screen .confess-button' );

		var somedialog = document.getElementById( 'somedialog' );

		var dlg = new DialogFx( somedialog );

		dlgtrigger_mobile.addEventListener( 'click', dlg.toggle.bind(dlg) );
		dlgtrigger_tablet.addEventListener( 'click', dlg.toggle.bind(dlg) );

	})();
	</script>
	<script>
		$(document).ready(function() {
			convertToRelativeTimeComment('confession-{{ confession._id }}');
		});
	</script>
</body>
</html>